<h1>Enter a statement</h1>
<% form_for(:query, :url => query_url ) do |f| %>
  <%= f.text_field :query %>
  <%= f.submit %>
<% end %>
<% if @statement %>

<h2><%= @statement %></h2>
  <% if @result %>
    <h3>That's what SHE said!</h3>
  <% else %>
    <h3>Lame!</h3>
  <% end %>
<% end %>


