<h1>Enter a statement</h1>
<% if @query %>
<%= @query %>
<h2>Is that what she said?</h2>
<%= @result.to_s %>
<% end %>

<% form_for(@query, :as => :query, :url => query_url ) do |f| %>
  <%= f.text_field :query %>
  <%= f.submit %>
<% end %>
