html{
	margin:0;
	}
	
body{
	background-image:url(/images/bg.gif);
	background-repeat:repeat-x;
	background-color:#ffcc00;
}

	
input{
	border: 1px solid #FFFF80;
}

p{
	font-family:Georgia, "Times New Roman", Times, serif;
	text-shadow:#fff 1px 1px 1px;
	margin:0px 0px 4px 0px;
}

#container{
	width:470px;
	margin:0 auto;
	background-image: url(/images/fade.gif);
	height: 485px;
	background-repeat: no-repeat;
	background-position: center;
}

.content{
	width:470px;
	margin-top: 350px;
	position: absolute;
}

.main-image{
	width:470px;
	margin-top: 55px;
	position: absolute;
	left: 50%;
	margin-left: -235px;
}

.line{
	position:absolute;
	width:100%;
	left: 0px;
	z-index: 2;
	top: 350px;
}

label{
  text-align:center;
  font-weight:bold;
}

p#result{
  font-weight:bold;
  font-size: 72px;
  text-align: center;
}

p#query{
  font-weight:bold;
  text-align: center;
}
